*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  background-color: #fbfbfb;
  font-family: "Gilroy", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: inherit;
  border: none;
  padding: 0;
}

.container {
  width: 1180px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.91;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 40px;
}

/* --------------HEADER------------ */

/* .main-header {
} */

.main-header .container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
  gap: 203px;
}

.header-logo {
  font-size: 20px;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}

.header-nav-list {
  display: flex;
  gap: 40px;
}

/* .header-item {
} */

.header-list-link {
  font-size: 14px;
  line-height: 1.23;
  text-align: center;
  color: #0c0c0c;
  padding: 30px 0 40px;
  display: block;
}

.header-address {
  font-style: normal;
  margin-left: auto;
}

.header-address-list {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* .address-list-item {
} */

.social-link {
  border: 1px solid rgba(12, 12, 12, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* --------------HERO------------ */

.hero {
  padding-top: 80px;
  display: flex;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.hero-text-wrap {
  max-width: 597px;
}

.hero-title {
  font-weight: 600;
  font-size: 72px;
  line-height: 0.87;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}

.hero-accent {
  color: #3350e9;
}

.hero-text {
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  padding-top: 20px;
}

.hero-item-container {
  max-width: 146px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero-list {
  display: flex;
}

.hero-item:nth-child(2),
.hero-item:nth-child(3) {
  margin-left: -13px;
}

.hero-link {
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #0c0c0c;
  margin-left: auto;
}

.hero-image {
  border-radius: 50px;
  width: 1150px;
  height: 500px;
}

/* --------------ABOUTUS------------ */

.about-us {
  padding: 100px 0;
}

.about-us-row {
  display: flex;
  gap: 40px;
}

.about-us-container {
  border-radius: 50px;
  width: 580px;
  min-height: 532px;
  background-color: #f3f3f3;
  padding: 80px 60px;
}

.title-container {
  max-width: 460px;
  text-align: left;
}

/* .about-us-title {
} */

.about-us-text {
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  padding-top: 20px;
}

.subtitle {
  padding-top: 0;
}

.about-us-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  padding: 15px 37px;
  border-radius: 16px;
  background-color: #3350e9;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  color: #fbfbfb;
}

.about-us-image {
  border-radius: 50px;
  width: 530px;
  min-height: 532px;
}

/* --------------CATALOG------------ */

/* .catalog-title {
} */

.catalog-list {
  flex-wrap: wrap;
  display: flex;
  gap: 32px 23px;
}

.catalog-container {
  max-width: 1150px;
}

.catalog-item {
  background-color: #f3f3f3;
  width: 368px;
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  padding: 24px 32px;
  display: flex;
  flex-direction: column;
}

.catalog-image {
  margin: 0 auto;
}

.catalog-container-wrap {
  padding-top: 24px;
}

.catalog-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 8px;
}

.catalog-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.5);
}

/* --------------ADVRT------------ */

.advertisement {
  padding: 100px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advrt-container {
  border-radius: 30px;
  background-color: #242525f2;
  padding: 83px 80px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
}

.advrt-text {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.91;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  max-width: 690px;
}

.color-accent {
  color: rgba(251, 251, 251, 0.5);
}

.advrt-link {
  padding: 15px 43px;
  border: 1px solid rgba(251, 251, 251, 0.15);
  border-radius: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  color: #fbfbfb;
}

/* --------------SALE------------ */
/* .sale {
}
.sale-title {
} */
.sale-container {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.sale-media {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.sale-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sale-item {
  width: 132px;
  height: 132px;
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 20px;
  background: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sale-image {
  max-width: 100%;
  height: auto;
}

.sale-big-wrap {
  width: 428px;
  height: 558px;
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 50px;
  background: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 50px;
}

.sale-big-image {
  max-width: 100%;
  height: auto;
}

.sale-content {
  width: 530px;
  height: 558px;
  padding: 60px;
  border-radius: 50px;
  background: #3350e9;
  display: flex;
  flex-direction: column;
}

.sale-subtitle {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.12;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin-bottom: 10px;
}

.sale-product-tag {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
  margin-bottom: 20px;
}

.sale-prices {
  display: flex;
  margin-bottom: 30px;
  gap: 8px;
  align-items: baseline;
}

.sale-price {
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  border-radius: 8px;
  background-color: rgba(251, 251, 251, 0.1);
  padding: 8px 12px;
  display: inline-flex;
}

.sale-product-price {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: -0.02em;
  text-decoration: line-through;
  color: rgba(251, 251, 251, 0.5);
}

.sale-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.7);
  margin-bottom: 40px;
}

.sale-list-dscrp {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: auto;
}

.sale-item-dscrp {
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 8px;
  padding: 8px 12px;
  width: auto;
  min-height: 34px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  color: #fbfbfb;
  white-space: nowrap;
}

/* --------------REVIEWS------------ */

.reviews {
  padding: 100px 0;
}
/* .reviews-title {
} */

.reviews-list {
  display: flex;
  gap: 20px;
}

.reviews-item {
  border-radius: 30px;
  padding: 32px 36px;
  max-width: 370px;
  background-color: #f3f3f3;
  width: calc((100% - 40px) / 3);
}

.reviews-image {
  margin: 0 auto 24px;
}

.reviews-subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #0c0c0c;
  margin-bottom: 8px;
  /* margin-top: 24px; */
}

.reviews-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(12, 12, 12, 0.4);
  max-width: 298px;
}

/* --------------CONTACTUS------------ */

.contact-us-image {
  margin-left: auto;
}
